<!-- Main Content START -->
<div class="container-fluid">
  <!-- due task boxes  -->
  <div class="row mt-5">
    <div class="col-4" *ngFor="let dueText of dueTaskText">
      <div class="card" style="margin-top: 10px">
        <div class="card-body">
          <h5 class="card-title">{{dueText}}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Quote box  -->
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Quote:</h5>
        <p class="card-text">“Success isn't how your life looks to others. It's about how it feels to you.”</p>
      </div>
    </div>
  </div>

  <!-- Mantra box  -->
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mantra:</h5>
        <p class="card-text">"Inhale the future, exhale the past."</p>
      </div>
    </div>
  </div>

</div>
<!-- Main Content END -->
