<div class="d-flex h-100">
  <div class="bg-ad8df5 p-3 sidebar" style="width: 20%; position: fixed; color: white;">
    <div class="logo">
      <a routerLink="/main-view">
        <img src="assets/todo-white-logo-snipped.png" alt="Your logo">
      </a>
    </div>
    <hr class="my-3 border-light">
    <app-sidbar-category></app-sidbar-category>
    <hr class="my-3 border-light">
    <div class="footer p-3">
      <!-- Footer-Inhalt -->
      <ul class="list-unstyled">
        <li>
          <button class="list-btn"><i class="fas fa-cog"></i><span>Settings</span></button>
        </li>
        <li>
          <button class="list-btn" routerLink="/main-view" ><i class="fas fa-user"></i><span>Profile</span></button>
        </li>
        <li>
          <button class="list-btn"><i class="fas fa-power-off"></i><span>Logout</span></button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Main Content -->
  <div class="p-3 w-100 h-100 mainContent">
    <router-outlet></router-outlet>
  </div>

</div>
