<div class="content p-3">
  <ul class="list-unstyled">
    <li *ngFor="let category of categories" >
      <a [routerLink]="category.id === 1 ? '/category/inbox/1' : category.id === 5 ? '/category/completed/5' : '/category/'+ category.name +'/'+category.id">
        <button class="list-btn position-relative">
          <i class="{{category.icon}}"></i>
          <span>{{category.name}}</span>
          <div class="badge end-0 position-absolute">{{category.itemCount}}</div>
        </button>
      </a>
    </li>
  </ul>
</div>

