<div class="container">
  <div class="row">
    <div class="col-12 p-0 overflow-auto" style="max-height: 650px;">
      <!-- Hier kommen die Boxen mit den Items hinein -->
      <div class="card mb-3">
        <div class="row">
          <div class="col-6">
            <!-- Hier kommt der Text hinein -->
            <h1>TEXT</h1>
          </div>
          <div class="col-2">
            <!-- Hier kommt das Dropdown-Menü hinein -->
            <select class="form-control" style="height: 55px">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </div>
          <div class="col-4">
            <!-- Hier kommen die Buttons hinein -->
            <button class="btn btn-primary my-custom-button" style="margin-left: 85px">Button 1</button>
            <button class="btn btn-primary my-custom-button" style="margin-left: 5px">Button 2</button>
            <button class="btn btn-primary my-custom-button" style="margin-left: 5px">Button 3</button>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row mt-5">
    <div class="col-9" style="padding-left: 175px;">
      <!-- Hier kommt das Textfeld hinein -->
      <div class="input-group" style="height: 50px">
        <input type="text" class="form-control"/>
        <div class="input-group-append">
          <button class="btn btn-primary my-custom-button" type="button"><i class="fas fa-paper-plane"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>
