<div class="container">
  <div class="row">
    <div class="col-12 p-0 overflow-auto" style="max-height: 650px;">
      <!-- Hier kommen die Boxen mit den Items hinein -->
      <div class="card bg-opacity-50 shadow-2-strong">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table bg-opacity-50 table-hover mb-0" style="color: whitesmoke">
              <thead>
              <tr>
                <th scope="col">NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">DUE-DATE</th>
                <th scope="col">ADD</th>
                <th scope="col">DELETE</th>
                <th scope="col">EDIT</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">Tiger Nixon</th>
                <td>System Architectdn awjd awiojdiwa jdioawj iodja</td>
                <td>tnixon12@example.com</td>
                <td><button class="btn btn-primary my-custom-button" type="button"><i class="fas fa-plus"></i></button></td>
                <td><button class="btn btn-primary my-custom-button" type="button"><i class="fas fa-trash-alt"></i></button></td>
                <td><button class="btn btn-primary my-custom-button" type="button"><i class="fas fa-pencil-alt"></i></button></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>

  <div class="row mt-5">
    <div class="col-9" style="padding-left: 175px;">
      <!-- Hier kommt das Textfeld hinein -->
      <div class="input-group" style="height: 50px">
        <input type="text" class="form-control"/>
        <div class="input-group-append">
          <button class="btn btn-primary my-custom-button" type="button"><i class="fas fa-paper-plane"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>
