 <!-- Main Content START -->
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Due tasks this week:</h5>
            <p class="card-text">Tasks: ...</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Due tasks this month:</h5>
            <p class="card-text">Tasks: ...</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Due tasks total</h5>
            <p class="card-text">Tasks: ...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Done tasks this week:</h5>
            <p class="card-text">Tasks: ...</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Done tasks this month:</h5>
            <p class="card-text">Tasks: ...</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Done tasks this total:</h5>
            <p class="card-text">Tasks: ...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Quote:</h5>
          <p class="card-text">“If you fell down yesterday, stand up today.”</p>
        </div>
      </div>
    </div>

    <div class="col-12 mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mantra:</h5>
          <p class="card-text">Let it be...</p>
        </div>
      </div>
    </div>

  </div>
  <!-- Main Content END -->
